<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Mobile Menu Overlay -->
<div class="mobile-menu-overlay" [class.active]="isMobileMenuOpen" (click)="closeMobileMenu()"></div>

<!-- Mobile Menu -->
<div class="mobile-menu" [class.active]="isMobileMenuOpen">
  <div class="mobile-menu__header">
    <div class="mobile-menu__logo">
      <a routerLink="/" (click)="closeMobileMenu()">
        <img src="assets/img/logo.png" alt="Logo">
      </a>
    </div>
    <button class="mobile-menu__close" (click)="closeMobileMenu()">
      <i class="fa fa-times"></i>
    </button>
  </div>
  
  <nav class="mobile-menu__nav">
    <ul>
      <li *ngFor="let item of navItems" [class.active]="isActive(item.path)">
        <a [routerLink]="item.path" (click)="closeMobileMenu()">{{item.label}}</a>
      </li>
    </ul>
  </nav>

  <div class="mobile-menu__cart">
    <a routerLink="/cart" (click)="closeMobileMenu()">
      <i class="fa fa-shopping-bag"></i>
      <span>{{cartItemCount}}</span>
    </a>
  </div>
</div>

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> hello&#64;colorlib.com</li>
              <li>Free Shipping for all Order of $99</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img src="assets/img/language.png" alt="">
              <div>English</div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <li><a href="#">Spanish</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </div>
            <div class="header__top__right__auth">
              <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a routerLink="/"><img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li *ngFor="let item of navItems" [class.active]="isActive(item.path)">
              <a [routerLink]="item.path">{{item.label}}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li><a routerLink="/cart"><i class="fa fa-shopping-bag"></i> <span>{{cartItemCount}}</span></a></li>
          </ul>
          <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
      </div>
    </div>
    <!-- Burger menu button for mobile -->
    <div class="humberger__open">
      <i class="fa fa-bars" (click)="openDrawer()"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->


