<!--&lt;!&ndash; Humberger Menu Begin &ndash;&gt;-->
<!--<div class="humberger__menu__overlay" [class.active]="drawerOpen" (click)="closeDrawer()"></div>-->
<!--<div class="humberger__menu__wrapper" [class.active]="drawerOpen">-->
<!--  <div style="padding: 24px;">-->
<!--    <h2>Drawer Menu</h2>-->
<!--    <ul>-->
<!--      <li><a routerLink="/" (click)="closeDrawer()">Home</a></li>-->
<!--      <li><a routerLink="/shop" (click)="closeDrawer()">Shop</a></li>-->
<!--      <li><a routerLink="/contact" (click)="closeDrawer()">Contact</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Humberger Menu End &ndash;&gt;-->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

