<div mat-dialog-content>
  <form [formGroup]="orderForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Order Details</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <div class="form-section">
          <h3>Delivery Location</h3>
          <mat-form-field class="full-width">
            <mat-label>Street Address</mat-label>
            <input matInput formControlName="streetAddress2">
          </mat-form-field>
          
          <mat-form-field class="half-width">
            <mat-label>Building Number</mat-label>
            <input matInput formControlName="buildingNumber" type="number">
          </mat-form-field>
          
          <div class="coordinates">
            <mat-form-field class="half-width">
              <mat-label>Latitude</mat-label>
              <input matInput formControlName="latitude" type="number">
            </mat-form-field>
            
            <mat-form-field class="half-width">
              <mat-label>Longitude</mat-label>
              <input matInput formControlName="longitude" type="number">
            </mat-form-field>
          </div>
        </div>

        <div class="form-section">
          <h3>Contact Information</h3>
          <div formArrayName="contacts">
            <div *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i" class="contact-item">
              <mat-form-field class="half-width">
                <mat-label>Contact Name</mat-label>
                <input matInput formControlName="contactName">
              </mat-form-field>
              
              <mat-form-field class="half-width">
                <mat-label>Contact Value</mat-label>
                <input matInput formControlName="contactValue">
              </mat-form-field>
              
              <button mat-icon-button (click)="removeContact(i)" *ngIf="contacts.length > 1">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
          
          <button mat-raised-button (click)="addContact()" color="primary">
            Add Contact
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Place Order</button>
</div>
